
@{
    Layout = null;
}

<div class="usp-container">
    <div class="usp-row">
        <div class="flex-1 center-all">
            <a href="~/home/page/10012/REACH" data-ga-category="Navigation Header" data-ga-action="USP" data-ga-label="Shipping" id="p10012" class="ga-track-link-click small-4 columns text-center">
                <p>REACH</p>
            </a>
        </div>
        <div class="flex-1 center-all">
            <a href="~/home/page/10011/IMPACT" data-ga-category="Navigation Header" data-ga-action="USP" data-ga-label="Delivery" id="p10011" class="ga-track-link-click small-4 columns text-center">
                <p>IMPACT</p>
            </a>
        </div>
        <div class="flex-1 center-all">
            <a href="~/home/page/10010/BRIDGE" data-ga-category="Navigation Header" data-ga-action="USP" data-ga-label="Returns" id="p10010" class="ga-track-link-click small-4 columns text-center">
                <p>BRIDGE</p>
            </a>
        </div>
    </div>
</div>