
<main class="main-section " style="height:87VH !important; margin-top:200px!important">
    <div id="page" class="container1">
        <div id="content">
            <div id="login-page">
                <div class="">
                    <div class="columns">


                        <center>
                            <h1 class="speacail-title-h1">@Resources.Strings.RegisterSuccess</h1>
                        </center>

                        <center class="m-b-50">
                            <a href="~/" class="custom-btn-8  w-100 f-color-white">@Resources.Strings.StartShopping</a>
                        </center>
                  
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>






@section scripts{
    <script>
        $(document).ready(function () {
            $("body").attr("id", "index");
            $("body").attr("class", "");
        });
        $("body").addClass("lang-en country-us currency-usd layout-full-width page-index tax-display-enabled pm-details-layout1 pm-filter-image header-static cp-only-filter product-grid-4 hide-header-icons gs-lazy-load");
    </script>
}

