<div class="site-content">
        <!-- /.jumbotron-inverse -->
        <div class="breadcrumb-wrapper">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="~/">Home /</a></li>

                    <li class="active">Shops</li>
                </ul>
            </div>
        </div><!-- /.breadcrumb-wrapper -->
        <div id="primary" class="content-area">
            <main class="site-main container inner-bottom-md">
                <div class="row">
                    <div class="col-sm-12 col-md-8 col-md-push-4 col-lg-9 col-lg-push-3">
                        <div class="control-bar clearfix">
                            <div class="control-bar-left pull-left">
                                <div class="le-select form-control">
                                    <select id="popularity-sort" class="input-block">
                                        <option value="1">Newest first</option>
                                        <option value="2">Cheapest first</option>
                                        <option value="3">Oldest first</option>
                                    </select>
                                </div>
                            </div><!-- /.control-bar-left -->
                            <div class="view-switcher">
                                <ul class="nav-tabs nav">
                                    <li class="active"><a href="#grid-view" data-toggle="tab"><i class="fa fa-th-large"></i></a></li>
                                    <li><a href="#list-view" data-toggle="tab"><i class="fa fa-th-list"></i></a></li>
                                </ul>
                            </div>
                            <!-- /.control-bar-right -->
                        </div><!-- /.control-bar -->
                        <div class="tab-content">
                            <div id="grid-view" class="tab-pane active">
                                <div class="product-items row has-grid no-bg has-row-separator">
@foreach (CMS.Product all in ViewBag.Allshops)
                            {
                                    <div class="col-lg-4 col-sm-6 col-xs-12 product-column">
                                        <div class="wow fadeInUp" data-wow-delay="0s">

                                            <div class="product-item">

                                                <div class="product-image-actions">

                                                    <a href="single-product.html" class="product-image"><img src="~/assets/images/blank.gif" data-echo="content/articles/@(all.ThumbURL.Replace("\\", "/").Replace(" ", "%20"))_290x324.png" alt=""></a>

                                                    <div class="product-label"><span>new</span></div>

                                                    <div class="product-actions">
                                                        <div class="btn-group-product-actions">
                                                            <a title="Add to Cart" href="single-product.html" class="btn btn-action btn-block">Add to Cart</a>
                                                            <a title="View" class="btn btn-action btn-block" data-toggle="modal" data-target="#quick-view">View</a>
                                                        </div>
                                                    </div>

                                                </div><!-- /.product-image -->


                                                <div class="product-item-info text-left">
                                                    <h3 class="product-title"><a href="single-product.html">@all.Name</a></h3>

                                                    <span class="product-price price">

                                                        <span class="amount">$@all.Price</span>
                                                    </span><!-- /.product-price -->


                                                </div><!-- /.product-item-info -->
                                            </div><!-- /.product-item -->
                                        </div>
                                    </div>
                                }
                                </div><!-- /.row -->
                            </div>
                            <div id="list-view" class="tab-pane">
                                <div class="product-items">
@foreach (CMS.Product all in ViewBag.Allshops)
                            {
                                    <div class="list-view product-item">
                                        <div class="row">
                                            <div class="col-sm-5 col-md-5 col-lg-4 col-img">
                                                <a href="single-product.html" class="product-image"><img src="~/assets/images/blank.gif" data-echo="content/articles/@(all.ThumbURL.Replace("\\", "/").Replace(" ", "%20"))_290x324.png" alt=""></a>
                                            </div><!-- /.col -->
                                            <div class="col-sm-7 col-md-7 col-lg-8 col-det">
                                                <div class="list-detail">
                                                    <h3 class="product-title"><a href="single-product.html">@all.Name</a></h3>
                                                    <span class="product-price price">

                                                        <span class="amount">$@all.Price</span>
                                                    </span><!-- /.product-price -->
                                                    <div class="star-rating" title="Rated 5.00 out of 5"><span style="width:80%"><strong class="rating">5.00</strong>out of 5</span></div><!-- /.star-rating -->
                                                    <div class="product-desc"><p>@Html.Raw(all.Description)</p></div>
                                                    <a href="cart.html" class="btn btn-primary btn-lg col-xs-12 col-sm-5 list-view-button">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div><!-- /.row -->
                                        <div class="product-label"><span>new</span></div>
                                    </div>
}
                                </div><!-- /.row -->
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3 col-md-pull-8 col-lg-pull-9">
                        <aside class="sidebar sidebar-shop">
                            <div class="product-filters">

                                <div class="widgets">
                                    <aside class="widget widget-categories-filter">
                                        <h4 class="widget-title">Menu</h4>
                                        <ul class="list-filters">
                                            <li><a href="#">MOTORCYCLE</a></li>
                                            <li><a href="#">MOTORCYCLE WEAR</a></li>
                                            <li><a href="#">MOTORCYCLE ACCESORIES</a></li>
                                        </ul>
                                    </aside><!-- /.widget -->

                                </div>
                            </div><!-- /.widget-filters -->
                        </aside><!-- /.shop-sidebar -->
                    </div>
                </div><!-- /.row -->
            </main><!-- /.site-main -->
        </div><!-- /.content-area -->
    </div>