<main class="main-section">

    <div id="page" class="container1 shop-category" data-ng-app="Nopa" ng-controller="shop">
        <div id="content" class="mb-psides-15">
            <section id="catalog" data-ti-catalog-page="catalog" data-search-term="" data-total-items="132" data-total-items-first-page="48">
                <div class="row">
                    <h1 class="coming-soon-title">@Resources.Strings.ComingSoon</h1>
                </div>
            </section>
        </div>
    </div>
</main>