
@{
    ViewBag.Title = "ImportProducts";
}

<h2>Import Products</h2>
<center>
    <form action="~/prodimporter3" method="post">
        <input type="submit" value="Import" class="btn" />
    </form>
</center>

