<div class="site-content">
    <div class="faq-section full-page" id="faq">
        <div class="row">
            <section class="small-12 columns">
                <h1>@ViewBag.Page.Name</h1>
            </section>
        </div>
        <div class="row">
            @Html.Raw(ViewBag.Page.Text)
        </div>
    </div>
</div>