@{
    Layout = null;
}
<!doctype html>
<htm lang="en">

<head>

    <meta charset="utf-8">

    <meta name="description" content="Alysum AMP Prestashop Theme">
    <meta name="keywords" content="homepage, alysum,amp,google amp">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="application-name" content="Prestashop AMP v.1.0.5" />
    <title>Home</title>
    <link rel="canonical" href="https://alysum5.promokit.eu/">

    <link rel="alternate" href="https://alysum5.promokit.eu/en/mobile" hreflang="en-us">
    <link rel="alternate" href="https://alysum5.promokit.eu/es/mobile" hreflang="es-ES">
    <link rel="alternate" href="https://alysum5.promokit.eu/it/mobile" hreflang="it-IT">
    <link rel="alternate" href="https://alysum5.promokit.eu/pl/mobile" hreflang="pl-PL">
    <link rel="alternate" href="https://alysum5.promokit.eu/ru/mobile" hreflang="ru-ru">
    <link rel="alternate" href="https://alysum5.promokit.eu/uk/mobile" hreflang="uk-ua">
    <link rel="alternate" href="https://alysum5.promokit.eu/ar/mobile" hreflang="ar-sa">
    <link rel="alternate" href="https://alysum5.promokit.eu/cs/mobile" hreflang="cs-cz">

    <link rel="icon" type="image/vnd.microsoft.icon" href="/img/favicon-1.ico?1543058999">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon-1.ico?1543058999">

    <link rel="preconnect dns-prefetch" href="https://fonts.gstatic.com/" crossorigin>
    <link as="script" href="https://cdn.ampproject.org/v0.js" rel="preload">

    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js"></script>
    <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    <script async custom-element="amp-selector" src="https://cdn.ampproject.org/v0/amp-selector-0.1.js"></script>
    <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <script async custom-element="amp-bodymovin-animation" src="https://cdn.ampproject.org/v0/amp-bodymovin-animation-0.1.js"></script>
    <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>
    <script async custom-element="amp-user-notification" src="https://cdn.ampproject.org/v0/amp-user-notification-0.1.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>

   

    <style amp-custom>
        @@font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2) format('woff2');
            unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
        }

        @@font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu5mxKKTU1Kvnz.woff2) format('woff2');
            unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
        }

        @@font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKKTU1Kvnz.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
        }

        @@font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
        }

        @@font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fCRc4AMP6lbBP.woff2) format('woff2');
            unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
        }

        @@font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-display: swap;
            src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fABc4AMP6lbBP.woff2) format('woff2');
            unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
        }

        @@font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-display: swap;
            src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fChc4AMP6lbBP.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
        }

        @@font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-display: swap;
            src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
        }

        @@font-face {
            font-family: 'Archivo Narrow';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: local('Archivo Narrow Regular'), local('ArchivoNarrow-Regular'), url(https://fonts.gstatic.com/s/archivonarrow/v8/tss0ApVBdCYD5Q7hcxTE1ArZ0bb-iXxw2d8oBxk.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
        }

        @@font-face {
            font-family: 'Archivo Narrow';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: local('Archivo Narrow Regular'), local('ArchivoNarrow-Regular'), url(https://fonts.gstatic.com/s/archivonarrow/v8/tss0ApVBdCYD5Q7hcxTE1ArZ0bbwiXxw2d8o.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
        }

        @@font-face {
            font-family: 'Archivo Narrow';
            font-style: normal;
            font-weight: 500;
            font-display: swap;
            src: local('Archivo Narrow Medium'), local('ArchivoNarrow-Medium'), url(https://fonts.gstatic.com/s/archivonarrow/v8/tss3ApVBdCYD5Q7hcxTE1ArZ0b4DqmlT-9ICPRBv3BM.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
        }

        @@font-face {
            font-family: 'Archivo Narrow';
            font-style: normal;
            font-weight: 500;
            font-display: swap;
            src: local('Archivo Narrow Medium'), local('ArchivoNarrow-Medium'), url(https://fonts.gstatic.com/s/archivonarrow/v8/tss3ApVBdCYD5Q7hcxTE1ArZ0b4Dqmld-9ICPRBv.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
        }

        body .roboto {
            font-family: Roboto
        }

        body .archivo {
            font-family: 'Archivo Narrow'
        }

        html {
            background: #eee
        }

        body {
            font-size: 16px;
            line-height: 1.5;
            font-family: Roboto, Arial;
            color: #6e6e6e;
            background: #fff
        }

        a,
        a:visited {
            text-decoration: none;
            color: inherit
        }

        ul,
        li {
            padding: 0;
            margin: 0
        }

        ul {
            list-style: outside none none
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0;
            font-family: "Archivo Narrow"
        }

        h4.module-title {
            font-size: 18px;
            font-weight: 500;
            letter-spacing: .1em;
            margin: 0 auto 40px;
            text-align: center;
            text-transform: uppercase;
            color: #444;
            display: flex;
            align-items: center;
            flex-direction: column
        }

        h4.module-title span {
            padding: 0 16px 10px 16px;
            border-bottom: 2px solid #3a3a3a
        }

        .bold {
            font-weight: bold
        }

        img,
        .db {
            display: block
        }

        button,
        body .button,
        body .btn,
        input[type="submit"],
        input[type="button"] {
            background-color: #313537;
            font-size: 12px;
            font-family: "Archivo Narrow";
            font-weight: 400;
            font-style: normal;
            line-height: 14px;
            text-transform: uppercase;
            color: #fff;
            letter-spacing: .1em;
            box-sizing: border-box;
            border: 0;
            border-radius: 0;
            -webkit-appearance: none;
            padding: 10px 15px;
            display: inline-block;
            margin: 0
        }

        .button svg,
        .btn svg {
            width: 14px;
            height: 14px;
            margin-right: 6px
        }

        body .big-btn {
            padding: 14px 30px
        }

        .big-btn:disabled,
        .btn:disabled {
            background: #ccc
        }

        .atc-dis button {
            margin-right: 0
        }

        .clearButton {
            background: none;
            border: 0;
            color: #333
        }

        body>main,
        .fixed-width,
        .footer-wrapper {
            padding: 0 20px
        }

        .general-item .container .fixed-width,
        .general-item .header-top,
        .general-item .footer-wrapper>div,
        .main-menu button,
        body:not(#home)>main {
            max-width: 450px;
            margin-left: auto;
            margin-right: auto
        }

        [submit-success] {
            color: green
        }

        [submit-error] {
            color: #ff5733
        }

        [submitting] {
            color: #6daae8
        }

        [submitting],
        [submit-error],
        [submit-success] {
            padding: 0 15px
        }

        .vert-templ {
            padding: 15px 0
        }

        .hidden {
            display: none
        }

        .text-uppercase {
            text-transform: uppercase
        }

        .svgic {
            display: inline-block;
            fill: currentColor;
            height: 20px;
            pointer-events: none;
            vertical-align: top;
            width: 20px
        }

        #category-name-amp {
            color: #222
        }

        .close-section h4 {
            font-size: 24px
        }

        .pagination-block {
            margin: auto;
            width: 50%
        }

        .pagination {
            display: inline-block;
            list-style: outside none none
        }

        ul.pagination li.pagination_previous {
            margin-right: 10px
        }

        ul.pagination li {
            padding: 0 5px;
            border: 1px solid #e1e1e1;
            margin: 2px;
            display: inline-block
        }

        ul.pagination li:first-child,
        ul.pagination li:last-child {
            border: 0
        }

        #selector-cart,
        #sidebar,
        #selector-menu,
        #selector-search {
            max-width: 390px;
            width: 90%
        }

        .disabled {
            cursor: not-allowed
        }

        .active {
            color: #000
        }

        .full-w {
            margin-right: -20px;
            margin-left: -20px
        }

        amp-sidebar {
            padding: 40px 20px;
            width: 100%;
            height: calc(100% - 80px)
        }

        #sidebar amp-sidebar,
        amp-carousel,
        .w100 {
            width: 100%
        }

        amp-carousel>div>div {
            max-width: 100%
        }

        body .inv-btn {
            background: none;
            border: 2px solid #222;
            color: #222
        }

        .main-logo amp-img {
            max-width: 150px
        }

        header amp-img {
            vertical-align: middle
        }

        .main-menu button {
            font-size: 15px;
            font-weight: 500;
            letter-spacing: .22em;
            color: inherit
        }

        .flex-container {
            display: flex
        }

        .flex-column {
            flex-direction: column
        }

        .flex-row {
            flex-direction: row
        }

        .reverse-order {
            flex-direction: row-reverse
        }

        .pk-cpi,
        .flex-grow1 {
            flex-grow: 1
        }

        .align-items-center {
            align-items: center
        }

        .align-items-right {
            align-items: flex-end
        }

        .flex-column>.align-items-center,
        .justify-center {
            justify-content: center
        }

        .text-center {
            text-align: center
        }

        .text-left {
            text-align: left
        }

        .text-right {
            text-align: right
        }

        .relative {
            position: relative
        }

        .absolute {
            position: absolute
        }

        .bs {
            box-sizing: border-box
        }

        .header-top {
            padding: 35px 20px
        }

        .header-top button {
            margin-left: 25px
        }

        .wide-input {
            padding: 6px 12px;
            background: #fff;
            font-size: 14px;
            line-height: 20px;
            width: 100%;
            border: 1px solid #e1e1e1;
            box-sizing: border-box
        }

        body>footer {
            padding: 40px 0 30px;
            background: #222;
            color: #9e9e9e
        }

        .ellipsis {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block
        }

        .product-flags {
            list-style: none;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 15px;
            left: 15px;
            z-index: 3
        }

        .product-flags li {
            padding: 6px;
            background: #222;
            color: #eee;
            margin-bottom: 5px;
            font-size: 12px
        }

        .product-miniature img {
            margin-bottom: 30px
        }

        .product-miniature .price {
            line-height: 24px
        }

        .product-miniature .discount-price,
        .product-price-amp .discount-price {
            text-decoration: line-through;
            color: #ccc;
            margin-right: 15px
        }

        .product-miniature .product-title {
            color: #555;
            font-size: 20px;
            max-width: 90%
        }

        .product-labels {
            position: absolute;
            top: 20px;
            right: 20px
        }

        .product-labels li {
            background: #900;
            color: #fff;
            padding: 3px 7px;
            font-size: 16px;
            margin-bottom: 3px;
            text-align: center
        }

        .product-labels>li:empty {
            display: none
        }

        .page-title {
            color: #666;
            letter-spacing: .05em;
            font-family: 'Archivo Narrow';
            margin-bottom: 20px
        }

        .smooth {
            transition: all .4s ease-in-out
        }

        .m10 {
            margin-bottom: 10px
        }

        .m15 {
            margin-bottom: 15px
        }

        .m20 {
            margin-bottom: 20px
        }

        .m30 {
            margin-bottom: 30px
        }

        .m40 {
            margin-bottom: 40px
        }

        .m80 {
            margin-bottom: 80px
        }

        .pb15 {
            padding-bottom: 15px
        }

        .p20 {
            padding: 20px
        }

        .p0 {
            padding: 0
        }

        .m0 {
            margin: 0
        }

        #productShownList {
            padding-bottom: 70px
        }

        #productShownList .product-miniature:last-child {
            margin-bottom: 0
        }

        #productShownList .product-title {
            white-space: normal
        }

        .product-name {
            font-size: 14px
        }

        .product-sorting h4 {
            padding: 0 20px;
            background: #222;
            height: 44px;
            font: 400 14px/44px Roboto;
            color: #f1f1f1;
            border-color: transparent
        }

        .product-sorting>section>h4,
        .product-sorting>section {
            transition: all .5s ease-in-out
        }

        .product-sorting>[expanded] {
            border-bottom: 2px solid #ccc;
            padding-bottom: 25px
        }

        .product-sorting>[expanded]>h4 {
            border-bottom: 0;
            margin-bottom: 20px
        }

        .product-sorting [expanded]>h4 svg,
        .product-sorting [expanded]>h5 svg {
            transform: rotate(180deg)
        }

        .product-sorting>section>form {
            padding: 0 10px
        }

        .product-sorting h4 svg,
        amp-accordion h4 {
            padding: 10px
        }

        body amp-accordion h4 {
            background: rgba(255, 255, 255, 0.2);
            color: #999
        }

        body amp-accordion section[expanded] h4 {
            border: 1px solid rgba(0, 0, 0, 0.2);
            color: #333
        }

        amp-accordion h4 .svgic {
            width: 12px;
            height: 12px;
            padding-right: 0;
            padding-left: 0
        }

        body .product-sorting section[expanded] h4 {
            border-bottom: 0;
            color: #f1f1f1
        }

        .product-sorting [expanded] h4 svg,
        amp-accordion>[expanded]>h4 svg {
            transform: rotate(180deg)
        }

        #footer amp-accordion section>h4 {
            background: none;
            border: 0;
            margin-bottom: 10px;
            color: #e5e5e5;
            letter-spacing: .15em;
            font-size: 15px;
            text-transform: uppercase;
            padding-left: 0;
            padding-right: 0
        }

        #footer amp-accordion section>div:last-child {
            padding: 5px 0 50px
        }

        #footer amp-accordion section>h4 div {
            font-family: inherit
        }

        #footer amp-accordion section ul li a {
            color: #9e9e9e;
            display: block;
            margin-bottom: 8px
        }

        .footer_text {
            font-size: 14px
        }

        .product-sorting section>div {
            border: 2px solid #dfdfdf;
            border-top: 0
        }

        #socialnetworks a {
            width: 30px;
            height: 30px;
            background: rgba(255, 255, 255, 0.1);
            margin: 0 5px;
            border-radius: 4px
        }

        #socialnetworks svg {
            width: 15px;
            height: 15px
        }

        .payment-methods svg {
            width: 40px;
            height: 40px;
            margin: 0 5px
        }

        .pts-newsletter .module-title span {
            border: 0;
            padding-bottom: 0
        }

        .search-bar input {
            width: 100%;
            box-sizing: border-box;
            padding: 10px 20px;
            margin-bottom: 20px;
            border: 1px solid #222;
            border-radius: 0;
            -webkit-appearance: none
        }

        .product-list-item {
            margin-bottom: 20px
        }

        .product-list-item amp-img {
            margin-right: 20px;
            width: 20%;
            min-width: 80px;
            height: auto
        }

        .cart-product .product-title {
            max-width: 60%
        }

        .cart-product .button {
            padding: 5px 10px
        }

        .cart-product .m15 {
            margin-bottom: 7px
        }

        #selector-menu>.section-wrap>section {
            margin-top: -1px
        }

        #selector-menu .inner-accordion {
            padding: 15px
        }

        #selector-menu h4 {
            font-size: 18px;
            font-family: Roboto;
            background: none;
            border-color: rgba(0, 0, 0, 0.2)
        }

        #selector-menu .inner-accordion h4 {
            border: 0;
            padding: 10px 15px;
            font-size: 95%;
            font-weight: 400
        }

        #selector-menu>.section-wrap>section>h4 {
            padding: 10px 20px
        }

        .main-menu {
            background: #222;
            padding: 15px 20px;
            color: #fff
        }

        .ampstart-btn svg {
            margin: 0
        }

        .clear-button {
            background: none;
            border: 0;
            padding: 0;
            margin: 0
        }

        #sidebar .ampstart-btn {
            margin-bottom: 15px
        }

        button span {
            text-align: left
        }

        .user-list li amp-img {
            margin-right: 10px
        }

        .price {
            font-size: 22px;
            font-weight: 500;
            line-height: 1.2em;
            text-transform: uppercase;
            color: #333;
            letter-spacing: 0
        }

        .mini-products .price {
            font-size: 18px
        }

        .font-normal {
            font-weight: normal
        }

        .mini-products .price span {
            font-style: normal
        }

        .mini-products .product-title {
            margin-bottom: 10px
        }

        .mini-products .cart-product-info .product-title {
            margin-bottom: 0
        }

        .user-list li:not(:first-child) {
            margin-top: 10px
        }

        .tos_link input[type="hidden"]+label {
            display: none
        }

        .lightbox {
            background: rgba(0, 0, 0, 0.8);
            z-index: 2147489999
        }

        .list-overflow[overflow] {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            visibility: visible
        }

        .form-control {
            width: 100%;
            padding: 15px 20px;
            line-height: 20px;
            font-size: 16px;
            color: #333;
            border: 1px solid #999;
            box-sizing: border-box
        }

        .bright {
            color: #fff
        }

        .dark {
            color: #222
        }

        .order-status {
            padding: 1px 5px;
            border-radius: 3px
        }

        .box {
            background: #fff;
            box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.2);
            margin-bottom: 20px;
            padding: 20px
        }

        .message-text {
            border-radius: 5px;
            background: #f1f1f1;
            padding: 10px
        }

        .border-bottom {
            border-bottom: 1px solid #ccc
        }

        .notification {
            padding: 10px;
            margin: 0;
            border-radius: 5px;
            color: #333;
            font-size: 13px
        }

        .notification.alert {
            background: rgba(220, 194, 7, 0.25)
        }

        .notification.error {
            background: rgba(255, 0, 0, 0.25)
        }

        #checkout #checkout .-complete h4 {
            color: #009200
        }

        #checkout #checkout .-unreachable h4 {
            color: #999
        }

        .product-miniature.micro {
            display: flex
        }

        .product-miniature.micro {
            margin-bottom: 10px
        }

        .product-miniature.micro .image-link {
            max-width: 20%;
            min-width: 20%;
            width: 20%;
            margin-right: 20px
        }

        .product-miniature.micro img {
            margin: 0
        }

        .custom-checkbox span {
            display: none
        }

        #cart-summary-product-list .pm-lite {
            display: flex;
            flex-direction: row
        }

        #cart-summary-product-list .pm-lite .image-link {
            max-width: 20%;
            min-width: 20%;
            margin-right: 25px
        }

        #cart-summary-product-list .pm-lite {
            margin-bottom: 20px
        }

        #cart-summary-product-list .pm-lite img {
            margin: 0
        }

        #cart-summary-product-list .product-price-amp {
            margin-bottom: 5px
        }

        .product-info-amp {
            padding-top: 15px;
            max-width: 73%
        }

        .my-account>a {
            font-size: 16px;
            display: block;
            margin-bottom: 20px;
            line-height: 24px
        }

        .my-account svg {
            width: 24px;
            height: 24px;
            margin-right: 10px
        }

        #si-burger {
            stroke: currentColor;
            stroke-width: 10
        }

        .form-group.row {
            margin-bottom: 15px
        }

        .form-control-comment {
            font-size: 13px;
            font-style: italic;
            text-align: right
        }

        .filter-title-icon {
            max-width: 24px;
            margin-right: 10px
        }

        .lightbox {
            background: rgba(255, 255, 255, 0.95);
            width: 100%;
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #333;
            z-index: 999
        }

        .lightbox .space {
            padding: 20px;
            max-width: 500px
        }

        .lightbox table th {
            text-align: left
        }

        #want_register {
            max-width: 20px;
            padding: 0
        }

        #block-reassurance li {
            display: flex;
            align-items: center;
            margin-bottom: 10px
        }

        #block-reassurance li .brimg {
            width: 30px;
            height: 30px;
            min-width: 30px;
            margin-right: 20px
        }

        .list-item-dashed {
            margin-bottom: 7px;
            padding-bottom: 2px;
            border-bottom: 1px dashed #bbb;
            font-family: Courier;
            font-size: 14px
        }

        #order-history>*:nth-child(even) {
            background: #eee
        }

        #order-history>div {
            padding: 5px 10px
        }

        .c-out-btn {
            width: 56px;
            height: 56px;
            background: #222;
            color: #fff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            bottom: 20px;
            right: 20px;
            box-shadow: 0 0 3px 0 rgba(255, 255, 255, 0.2)
        }

        .c-out-btn svg {
            margin-right: 4px
        }

        .cart-indicator-numb {
            margin-left: 2px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: #ff8f4c;
            color: #fff;
            font-size: 11px;
            line-height: 16px;
            font-family: Courier;
            letter-spacing: -.05em;
            text-align: center
        }

        amp-user-notification>div {
            font: 14px/1.5 Helvetica, Arial, sans-serif;
            color: #fff;
            background: #000;
            padding: 1rem
        }

        amp-user-notification>div a {
            color: #fff;
            text-decoration: underline;
            margin-left: 5px;
            white-space: nowrap
        }

        amp-user-notification>div button {
            margin-left: 10px;
            white-space: nowrap
        }

        @@media(max-width:420px) {
            amp-carousel article {
                width: 100%
            }
            .cart-product .product-title {
                max-width: 40%
            }
        }

        @@media(min-width:421px) {
            amp-carousel article {
                width: calc(50% - 30px);
                padding: 0 15px
            }
        }

        @@media(min-width:600px) {
            .general-item .container .fixed-width,
            .general-item .header-top,
            .general-item .footer-wrapper>div,
            .main-menu button,
            body:not(#home)>main {
                max-width: 580px;
                margin-left: auto;
                margin-right: auto
            }
            #productShownList div[role="list"] {
                display: flex;
                flex-wrap: wrap
            }
            #productShownList div[role="list"] .product-miniature {
                width: 50%
            }
        }

        #home>main {
            padding: 0
        }

        .category-info,
        .fixedblock.absolute {
            position: absolute;
            width: calc(100% - 80px);
            left: 40px;
            bottom: 40px;
            background: rgba(255, 255, 255, 0.7)
        }

        .main-slider .fixedblock.absolute {
            bottom: 50%;
            transform: translateY(50%);
            background: none;
            width: calc(100% - 20px);
            left: 10px
        }

        .fixedblock {
            padding: 20px 0 15px
        }

        .fixedblock p {
            margin: 0;
            color: #514c4c;
            font-size: 15px;
            line-height: 25px;
            letter-spacing: .1em
        }

        .fixedblock h4 {
            color: #444;
            font-size: 14px;
            letter-spacing: .2em;
            font-weight: 400
        }

        .main-slider h3 {
            border-bottom: 2px solid #222;
            display: inline-block;
            padding: 0 20px 10px;
            letter-spacing: .2em;
            color: #313131;
            margin-bottom: 15px;
            font-size: 17px
        }

        .main-slider h4 {
            color: #444;
            font-size: 16px
        }

        .container {
            margin-bottom: 80px
        }

        .container .widget {
            margin-bottom: 30px
        }

        .pts-newsletter input[type="email"] {
            border: 0;
            border-bottom: 1px solid #333;
            width: 100%;
            text-align: center;
            font-size: 17px;
            letter-spacing: .1em;
            color: #333;
            padding: 10px 15px;
            box-sizing: border-box;
            margin: 0 0 20px
        }

        .pts-newsletter input[type="submit"] {
            margin: 0 auto
        }

        .desc-item h6 {
            font-size: 15px;
            letter-spacing: .15em;
            margin-bottom: 15px
        }

        .desc-block-text {
            max-width: 80%;
            margin: 0 auto;
            opacity: .8
        }

        .top-line {
            width: 45px;
            height: 2px;
            background: #3a3a3a;
            margin: 0 auto;
            line-height: 0;
            margin-bottom: 30px
        }

        .amp-posts .title {
            line-height: 25px;
            font-size: 20px;
            letter-spacing: .05em
        }

        .amp-posts>*:first-child {
            padding-bottom: 90px
        }

        .widget-instagram ul {
            flex-wrap: wrap
        }

        .widget-instagram ul li {
            margin-bottom: 10px
        }

        .widget-instagram ul li:nth-child(even):not(:first-child) {
            margin-right: 10px
        }

        .widget-instagram ul li:first-child {
            width: 100%
        }

        .widget-instagram ul li:not(:first-child) {
            width: calc(50% - 5px)
        }

        .widget-instagram .item-desc {
            bottom: 0;
            left: 0;
            padding: 10px 0 10px 15px;
            flex-wrap: wrap
        }

        .widget-instagram .item-desc svg {
            margin-right: 4px;
            width: 15px;
            height: 15px
        }

        .widget-instagram li:not(:first-child) .item-desc {
            display: none
        }

        .item-like {
            margin-right: 15px
        }

        .widget-amphtml h3 {
            text-align: center;
            letter-spacing: .25em;
            color: #414141;
            line-height: 20px;
            font-size: 16px
        }

        .widget-amphtml p {
            text-align: center;
            color: #666;
            font-size: 15px;
            line-height: 18px
        }

        .lightbox {
            width: 100%;
            height: 100%;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center
        }

        .pk-lookbook .pois {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%
        }

        .pk-lookbook .pois>div {
            position: absolute;
            width: 40px;
            height: 40px;
            background: rgba(255, 255, 255, .3);
            border: 1px solid #3a3a3a;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            line-height: 20px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-size: 50px;
            color: #3a3a3a
        }

        .pk-lookbook .pois>div .pkPlus {
            content: "";
            width: 70%;
            height: 70%;
            background: rgba(0, 0, 0, 0.2);
            border-radius: 50%
        }

        .pk-lookbook .discount_pk {
            display: block;
            position: absolute;
            top: 5px;
            left: 5px;
            background: tomato;
            padding: 1px 3px;
            font-size: 12px;
            z-index: 3;
            border-radius: 50%;
            color: #fff
        }

        .pk-lookbook .product-actions {
            position: absolute;
            bottom: -44px;
            right: 25px
        }

        .pk-lookbook .product-thumbnail,
        .pk-lookbook .product-desc-wrap {
            background: #fff
        }

        .pk-lookbook .product-description {
            padding: 0 15px 15px
        }

        .pk-lookbook .product-miniature img {
            margin-bottom: 0
        }

        .pk-lookbook .product-flags {
            top: 0
        }

        .lookbook-item {
            padding: 0
        }

        .pkClose {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 99
        }

        .pkClose .close {
            background: none;
            color: #333
        }

        .big-btn,
        .btn {
            background: #313537
        }

        .big-btn,
        .btn {
            color: #fff
        }

        .price {
            color: #333
        }

        .main-menu {
            background: #222
        }

        .main-menu {
            color: #fff
        }

        #selector-menu section {
            background: #efefef
        }

        #selector-menu ul {
            color: #333
        }

        amp-sidebar {
            background: #efefef
        }

        .close-section h4 {
            color: #6e6e6e
        }

        amp-sidebar {
            color: #333
        }

        header.general-item {
            background: #fff
        }

        header .header-top,
        header .header-top button {
            color: #333
        }

        #footer {
            background: #222
        }

        #footer {
            color: #fff
        }

        #product .product-price-amp .price {
            font-size: 22px
        }
    </style>
    <style amp-boilerplate>
        body {
            -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            animation: -amp-start 8s steps(1, end) 0s 1 normal both
        }

        @@-webkit-keyframes -amp-start {
            from {
                visibility: hidden
            }
            to {
                visibility: visible
            }
        }

        @@-moz-keyframes -amp-start {
            from {
                visibility: hidden
            }
            to {
                visibility: visible
            }
        }

        @@-ms-keyframes -amp-start {
            from {
                visibility: hidden
            }
            to {
                visibility: visible
            }
        }

        @@-o-keyframes -amp-start {
            from {
                visibility: hidden
            }
            to {
                visibility: visible
            }
        }

        @@keyframes -amp-start {
            from {
                visibility: hidden
            }
            to {
                visibility: visible
            }
        }
    </style>
    <noscript>
        <style amp-boilerplate>
            body {
                -webkit-animation: none;
                -moz-animation: none;
                -ms-animation: none;
                animation: none
            }
        </style>
    </noscript>
</head>

<body id="index" class="lang-en country-us currency-usd layout-full-width page-index tax-display-enabled pm-details-layout1 pm-filter-image header-static cp-only-filter product-grid-4 hide-header-icons gs-lazy-load">


    <header class="m20 general-item">

        <div class="header-top flex-container align-items-center">

            <div class="main-logo flex-grow1">
                <a href="https://alysum5.promokit.eu/en/mobile" class="db">
                    <amp-img src="/img/alysum-logo-15410114551.jpg" width="314" height="55" id="shop-logo-amp" alt="Shop logo" layout="responsive" noloading></amp-img>
                </a>
            </div>

            <button on="tap:selector-search.toggle" class="ampstart-btn flex-container align-items-center clear-button" aria-label="Close">
                <svg class="svgic svgic-search">
                    <use xlink:href="#si-search"></use>
                </svg>
            </button>
            <button on="tap:sidebar.toggle" class="ampstart-btn flex-container align-items-center clear-button" aria-label="Close">
                <svg class="svgic svgic-account">
                    <use xlink:href="#si-account"></use>
                </svg>
            </button>
            <form method="POST" action-xhr="https://alysum5.promokit.eu/en/module/pk_amp/ajaxCart?cart_id=15378" target="_top" class="flex-container align-items-center" on="submit-success: AMP.setState({ cartList: { items: event.response.items, info: event.response.info, count: event.response.info.products_count } });">
                <button type="button" on="tap:selector-cart.toggle" class="ampstart-btn relative flex-container align-items-center clear-button" aria-label="Close">
                    <svg class="svgic svgic-cart">
                        <use xlink:href="#si-cart"></use>
                    </svg>
                    <div class="cart-indicator-numb" [text]="cartList.info[0].products_count" [class]="cartList.info[0].products_count > 0 ? 'cart-indicator-numb' : 'hidden'">11</div>
                </button>
            </form>

        </div>

        <div class="main-menu">
            <button on="tap:selector-menu.toggle" class="ampstart-btn flex-container align-items-center clear-button reverse-order w100 text-uppercase" aria-label="Close">
                <svg class="svgic svgic-burger">
                    <use xlink:href="#si-burger"></use>
                </svg>
                <span class="flex-grow1">Menu</span>
            </button>
        </div>

    </header>

 


    <amp-user-notification id="cookie-notification" layout="nodisplay">
        <div class="flex-container align-items-center justify-center">
            <span>This website uses cookies to ensure you get the best experience on our website.<a rel="noreferrer" href="https://cookiesandyou.com" target="_blank">Learn more</a></span>
            <button on="tap:cookie-notification.dismiss" class="ampstart-btn caps ml1">I accept</button>
        </div>
    </amp-user-notification>

    <div class="c-out-btn" [hidden]="cartList.info[0].products_count == 0">
        <a href="https://alysum5.promokit.eu/en/module/pk_amp/checkout" class="c-out-btn" role="button" tabindex="0">
            <svg class="svgic">
                <use xlink:href="#si-checkout"></use>
            </svg>
            <span [text]="cartList.info[0].products_count">11</span>
        </a>
    </div>

    <amp-sidebar id="sidebar" layout="nodisplay" side="right" class="flex-container flex-column">

        <div class="close-section flex-container align-items-center m20">
            <h4 class="flex-grow1 text-uppercase">User Area</h4>
            <amp-img class="amp-close-image" src="/themes/alysum/assets/../templates/mobile/assets/svg/close.svg" width="20" height="20" alt="close sidebar" on="tap:sidebar.close" role="button" tabindex="0"></amp-img>
        </div>
        <div class="user-preview flex-container flex-column align-items-center m30">
            <amp-bodymovin-animation layout="flex-item" width="100" height="100" src="https://alysum5.promokit.eu/themes/alysum/templates/mobile/assets/json/avatar.json" loop="true"></amp-bodymovin-animation>
            <div>
                <strong [hidden]="loginHandler.items.data != null">
                    reem&nbsp;sadder
                </strong>
                <strong [text]="loginHandler.items.data != null ? 'Hi, '+loginHandler.items.data.firstname+' '+loginHandler.items.data.lastname : ''"></strong>
            </div>
        </div>

        <amp-accordion animate expand-single-section class="m20">

            <section class="m15">
                <h4 class="m20">
                    <div class="roboto flex-container align-items-center">
                        <span class="flex-grow1">Languages</span>
                        <svg class="svgic smooth"><use xlink:href="#si-top-arrow-thin"></use></svg>
                    </div>
                </h4>
                <div>
                    <ul class="languages-list user-list">
                        <li class="flex-container align-items-center">
                            <amp-img src="https://alysum5.promokit.eu/img/l/1.jpg" width="24" height="17" alt="English (English)"></amp-img>
                            English (English)
                        </li>
                        <li class="flex-container align-items-center">
                            <amp-img src="https://alysum5.promokit.eu/img/l/3.jpg" width="24" height="17" alt="Spanish"></amp-img>
                            <a class="ellipsis flex-grow1" href="https://alysum5.promokit.eu/es/mobile" title="Spanish">
                                Spanish
                            </a>
                        </li>
                        <li class="flex-container align-items-center">
                            <amp-img src="https://alysum5.promokit.eu/img/l/5.jpg" width="24" height="17" alt="Italic"></amp-img>
                            <a class="ellipsis flex-grow1" href="https://alysum5.promokit.eu/it/mobile" title="Italic">
                                Italic
                            </a>
                        </li>
                        <li class="flex-container align-items-center">
                            <amp-img src="https://alysum5.promokit.eu/img/l/6.jpg" width="24" height="17" alt="Polski (Polish)"></amp-img>
                            <a class="ellipsis flex-grow1" href="https://alysum5.promokit.eu/pl/mobile" title="Polski (Polish)">
                                Polski (Polish)
                            </a>
                        </li>
                        <li class="flex-container align-items-center">
                            <amp-img src="https://alysum5.promokit.eu/img/l/11.jpg" width="24" height="17" alt="Русский (Russian)"></amp-img>
                            <a class="ellipsis flex-grow1" href="https://alysum5.promokit.eu/ru/mobile" title="Русский (Russian)">
                                Русский (Russian)
                            </a>
                        </li>
                        <li class="flex-container align-items-center">
                            <amp-img src="https://alysum5.promokit.eu/img/l/12.jpg" width="24" height="17" alt="Українська (Ukrainian)"></amp-img>
                            <a class="ellipsis flex-grow1" href="https://alysum5.promokit.eu/uk/mobile" title="Українська (Ukrainian)">
                                Українська (Ukrainian)
                            </a>
                        </li>
                        <li class="flex-container align-items-center">
                            <amp-img src="https://alysum5.promokit.eu/img/l/13.jpg" width="24" height="17" alt="اللغة العربية (Arabic)"></amp-img>
                            <a class="ellipsis flex-grow1" href="https://alysum5.promokit.eu/ar/mobile" title="اللغة العربية (Arabic)">
                                اللغة العربية (Arabic)
                            </a>
                        </li>
                        <li class="flex-container align-items-center">
                            <amp-img src="https://alysum5.promokit.eu/img/l/14.jpg" width="24" height="17" alt="Čeština (Czech)"></amp-img>
                            <a class="ellipsis flex-grow1" href="https://alysum5.promokit.eu/cs/mobile" title="Čeština (Czech)">
                                Čeština (Czech)
                            </a>
                        </li>
                    </ul>
                </div>
            </section>

            <section class="m15">
                <h4 class="m20">
                    <div class="roboto flex-container align-items-center">
                        <span class="flex-grow1">Currencies</span>
                        <svg class="svgic smooth"><use xlink:href="#si-top-arrow-thin"></use></svg>
                    </div>
                </h4>
                <div>
                    <ul class="currencies-list user-list">
                        <li class="dropdown-option cp smooth02">
                            <a rel="nofollow" class="currency-sign main_color" href="https://alysum5.promokit.eu/en/mobile?SubmitCurrency=1&amp;id_currency=2">€ Euro</a>
                        </li>
                        <li class="dropdown-option cp smooth02 current">
                            <a rel="nofollow" class="currency-sign main_color" href="https://alysum5.promokit.eu/en/mobile?SubmitCurrency=1&amp;id_currency=1">$ US Dollar</a>
                        </li>
                    </ul>
                </div>
            </section>

            <section class="m15" [hidden]="loginHandler.items.is_logged == false">
                <h4 class="m20">
                    <div class="roboto flex-container align-items-center">
                        <span class="flex-grow1">My Account</span>
                        <svg class="svgic smooth"><use xlink:href="#si-top-arrow-thin"></use></svg>
                    </div>
                </h4>
                <div class="my-account flex-container flex-column">

                    <a href="https://alysum5.promokit.eu/en/module/pk_amp/identity">
                        <svg class="svgic smooth05">
                            <use xlink:href="#si-info"></use>
                        </svg>
                        <span>Information</span>
                    </a>

                    <a href="https://alysum5.promokit.eu/en/module/pk_amp/addresses">
                        <svg class="svgic smooth05">
                            <use xlink:href="#si-address"></use>
                        </svg>
                        <span>Addresses</span>
                    </a>

                    <a href="https://alysum5.promokit.eu/en/module/pk_amp/history">
                        <svg class="svgic smooth05">
                            <use xlink:href="#si-file3"></use>
                        </svg>
                        <span>Order history and details</span>
                    </a>

                    <a href="https://alysum5.promokit.eu/en/module/pk_amp/order-slip">
                        <svg class="svgic smooth05">
                            <use xlink:href="#si-file2"></use>
                        </svg>
                        <span>Credit slips</span>
                    </a>

                    <a href="https://alysum5.promokit.eu/en/module/pk_amp/discount">
                        <svg class="svgic smooth05">
                            <use xlink:href="#si-voucher"></use>
                        </svg>
                        <span>Vouchers</span>
                    </a>

                    <a href="https://alysum5.promokit.eu/en/module/pk_amp/order-follow">
                        <svg class="svgic smooth05">
                            <use xlink:href="#si-info"></use>
                        </svg>
                        <span>Merchandise returns</span>
                    </a>

                    <a class="col-lg-4 col-md-6 col-sm-6 col-xs-12" href="https://alysum5.promokit.eu/en/module/pk_wishlist/mywishlist">
                        <span class="link-item">
                            <svg class="svgic smooth05"><use xlink:href="#si-gift"></use></svg>
                            <span>My wishlists</span>
                        </span>
                    </a>
                    <a class="col-lg-4 col-md-6 col-sm-6 col-xs-12" id="favorites-link" href="https://alysum5.promokit.eu/en/module/pk_favorites/account">
                        <span class="link-item">
                            <svg class="svgic smooth500"><use xlink:href="#si-like-stroke"></use></svg>
                            <span>My favorite products</span>
                        </span>
                    </a>
                </div>
            </section>

        </amp-accordion>

        <form method="POST" action-xhr="https://alysum5.promokit.eu/en/module/pk_amp/ajaxLogin?reload=1" class="m15 w100" on="submit-success: AMP.setState({ loginHandler: { items: event.response.items } });" [hidden]="loginHandler.items.is_logged == false">
            <input type="hidden" name="action" value="logout">
            <input type="hidden" name="redirect" value="https://alysum5.promokit.eu/en/mobile">
            <input type="hidden" name="who" value="sidebars-logout">
            <button class="button inv-btn text-center w100" type="submit">
                Logout
            </button>

            <div submit-success>
                <div class="flex-container align-items-center flex-column text-center">
                    <amp-bodymovin-animation layout="flex-item" width="40" height="40" src="https://alysum5.promokit.eu/themes/alysum/templates/mobile/assets/json/success.json" loop="false"></amp-bodymovin-animation>
                    <div>Logged Out Success</div>
                </div>
            </div>
        </form>

    </amp-sidebar>

    <amp-sidebar id="selector-cart" class="lang-select user-select relative" layout="nodisplay" side="right" on="sidebarOpen:cartList.refresh">

        <div class="close-section flex-container align-items-center m20">
            <h4 class="flex-grow1 text-uppercase">My Cart</h4>
            <amp-img class="amp-close-image" src="/themes/alysum/assets/../templates/mobile/assets/svg/close.svg" width="20" height="20" alt="close selector-cart" on="tap:selector-cart.close" role="button" tabindex="0"></amp-img>
        </div>
        <div class="body m15">

            <amp-list id="cartProducts" src="https://alysum5.promokit.eu/en/module/pk_amp/ajaxCart?cart_id=15378" layout="fixed-height" height="127" class="m15 mini-products" [src]="cartList.items" [height]="cartList.items.length > 0 ? cartList.items.length * 127 : 127">

                <template type="amp-mustache">

                    <div class="flex-container text-center align-items-center flex-column" [hidden]="cartList.items != null">
                        <amp-bodymovin-animation layout="flex-item" width="256" height="256" src="https://alysum5.promokit.eu/themes/alysum/templates/mobile/assets/json/empty.json" loop="true"></amp-bodymovin-animation>
                        <div>Your Cart is Empty</div>
                    </div>

                    <div class="cart-product flex-container product-list-item" [hidden]="cartList.items == null">

                        <a href="{{amp_link}}" title="{{name}}">
                            <amp-img src="{{cover.medium.url}}" width="{{cover.medium.width}}" height="{{cover.medium.height}}" layout="responsive" class="product-image-amp" alt="{{name}}"></amp-img>
                        </a>

                        <div class="cart-product-info pk-cpi product-info">

                            <a class="product-title ellipsis" href="{{amp_link}}" title="{{name}}">
                                {{name}}
                            </a>

                            <div class="m15">
                                <small>{{{attr_str}}}</small>
                            </div>

                            <strong class="db m15 product-price price">
                                {{price}}<span>&nbsp;(✕{{cart_quantity}})</span>
                            </strong>

                            <form method="POST" action-xhr="https://alysum5.promokit.eu/en/module/pk_amp/ajaxCart?cart_id=15378" target="_top" class="flex-container align-items-center" on="submit-success: AMP.setState({ cartList: { items: event.response.items, info: event.response.info } });">
                                <input type="hidden" name="do" value="deleteProduct">
                                <input type="hidden" name="id_product" value="{{id_product}}">
                                <input type="hidden" name="id_product_attribute" value="{{id_product_attribute}}">
                                <button type="submit" class="add-to-cart button">Remove</button>
                                <div submitting>&nbsp;Waiting...</div>
                                <div submit-success>&nbsp;Done</div>
                                <div submit-error>&nbsp;Unable to remove</div>
                            </form>

                        </div>
                    </div>

                </template>

                <div fallback>
                    <div class="flex-container text-center align-items-center flex-column">
                        <amp-bodymovin-animation layout="flex-item" width="256" height="256" src="https://alysum5.promokit.eu/themes/alysum/templates/mobile/assets/json/empty.json" loop="true"></amp-bodymovin-animation>
                        <div>Your Cart is Empty</div>
                    </div>
                </div>

                <div overflow class="list-overflow"></div>

            </amp-list>

            <amp-list id="cartInfo" src="https://alysum5.promokit.eu/en/module/pk_amp/ajaxCart?cart_id=15378" layout="fixed-height" width="auto" height="120" class="m1 m15 mini-products" [src]="cartList.info" items="info">

                <template type="amp-mustache">

                    <div class="cart-subtotals">
                        <div class="flex-container">
                            <span class="label flex-grow1">Products</span>
                            <span class="value price">{{products}}</span>
                        </div>
                        <div class="flex-container">
                            <span class="label flex-grow1">Discounts</span>
                            <span class="value price">{{discount}}</span>
                        </div>
                        <div class="flex-container">
                            <span class="label flex-grow1">Shipping</span>
                            <span class="value price">{{shipping}}</span>
                        </div>
                        <div class="flex-container">
                            <span class="label flex-grow1">Tax</span>
                            <span class="value price">{{tax}}</span>
                        </div>
                        <div class="flex-container">
                            <span class="label flex-grow1"><strong>Total</strong></span>
                            <span class="value price"><strong>{{total}}</strong></span>
                        </div>
                    </div>

                    <div class="cart-total flex-container">
                        <span class="label flex-grow1">{{totals.total.label}}</span>
                        <span class="value">{{totals.total.value}}</span>
                    </div>

                </template>

            </amp-list>

            <amp-state id="cartList" src="https://alysum5.promokit.eu/en/module/pk_amp/ajaxCart?cart_id=15378">
                <script type="application/json">
                    {"items":[{"id_product_attribute":"31","id_product":"6","cart_quantity":"3","id_shop":"1","id_customization":null,"name":"Free People What She Said Lace Tanga Thong","is_virtual":"0","description_short":"
                    <p>Vivamus eleifend ex sollicitudin enim condimentum mollis. Nullam sed libero sit amet nulla ultricies dictum. Aenean maximus eros in metus posuere, non mattis urna placerat.</p>","available_now":"In stock","available_later":"","id_category_default":"61","id_supplier":"1","id_manufacturer":"5","manufacturer_name":"Yellowoak","on_sale":"0","ecotax":"0.000000","additional_shipping_cost":"0.00","available_for_order":"1","show_price":"1","price":30.5,"active":"1","unity":"","unit_price_ratio":"0.000000","quantity_available":"299","width":"0.000000","height":"0.000000","depth":"0.000000","out_of_stock":"2","weight":0,"available_date":"0000-00-00","date_add":"2017-04-17 14:40:04","date_upd":"2017-06-17 17:56:13","quantity":3,"link_rewrite":"printed-summer-dress","category":"tops","unique_id":"000000000600000000313360","id_address_delivery":"336","advanced_stock_management":"0","supplier_reference":"","customization_quantity":null,"price_attribute":"0.000000","ecotax_attr":"0.000000","reference":"demo_6","weight_attribute":0,"ean13":"","isbn":"","upc":"","minimal_quantity":"1","wholesale_price":"9.150000","id_image":"6-27","legend":"","reduction_type":0,"is_gift":false,"reduction":0,"price_without_reduction":30.5,"specific_prices":[],"stock_quantity":299,"price_with_reduction":30.5,"price_with_reduction_without_tax":30.5,"total":91.5,"total_wt":91.5,"price_wt":30.5,"reduction_applies":false,"quantity_discount_applies":false,"allow_oosp":0,"features":[{"id_feature":"5","id_product":"6","id_feature_value":"1"},{"id_feature":"6","id_product":"6","id_feature_value":"13"},{"id_feature":"7","id_product":"6","id_feature_value":"19"}],"attributes":"Size : S- Color : Yellow","attributes_small":"S- Yellow","rate":0,"tax_name":"","attr_str":"Size : S- Color : Yellow","amp_link":"https://alysum5.promokit.eu/en/mobile/product/6-printed-summer-dress"},{"id_product_attribute":"103","id_product":"14","cart_quantity":"5","id_shop":"1","id_customization":null,"name":"Satin Pleated Midi Skirt in Scenic Print","is_virtual":"0","description_short":"
                    <p>Printed chiffon knee length dress with tank straps. Deep v-neckline. Donec est nulla, efficitur ac aliquam id, iaculis id metus. Proin condimentum, nunc sed semper aliquam, nisi mauris tincidunt tellus, vitae blandit tellus eros nec quam.</p>","available_now":"In stock","available_later":"","id_category_default":"69","id_supplier":"1","id_manufacturer":"4","manufacturer_name":"Anchorsea","on_sale":"0","ecotax":"0.000000","additional_shipping_cost":"0.00","available_for_order":"1","show_price":"1","price":176,"active":"1","unity":"","unit_price_ratio":"0.000000","quantity_available":"999","width":"0.000000","height":"0.000000","depth":"0.000000","out_of_stock":"2","weight":0,"available_date":"0000-00-00","date_add":"2017-04-19 07:41:21","date_upd":"2018-11-24 17:32:25","quantity":5,"link_rewrite":"printed-chiffon-dress","category":"bags","unique_id":"000000001400000001033360","id_address_delivery":"336","advanced_stock_management":"0","supplier_reference":"","customization_quantity":null,"price_attribute":"0.000000","ecotax_attr":"0.000000","reference":"demo_14","weight_attribute":0,"ean13":"","isbn":"","upc":"","minimal_quantity":"1","wholesale_price":"6.150000","id_image":"14-118","legend":"","reduction_type":0,"is_gift":false,"reduction":0,"price_without_reduction":176,"specific_prices":false,"stock_quantity":999,"price_with_reduction":176,"price_with_reduction_without_tax":176,"total":880,"total_wt":880,"price_wt":176,"reduction_applies":false,"quantity_discount_applies":false,"allow_oosp":0,"features":[{"id_feature":"5","id_product":"14","id_feature_value":"1"},{"id_feature":"6","id_product":"14","id_feature_value":"13"},{"id_feature":"7","id_product":"14","id_feature_value":"20"}],"attributes":"Color : Grey","attributes_small":"Grey","rate":0,"tax_name":"","attr_str":"Color : Grey","amp_link":"https://alysum5.promokit.eu/en/mobile/product/14-printed-chiffon-dress"},{"id_product_attribute":"99","id_product":"13","cart_quantity":"1","id_shop":"1","id_customization":null,"name":"Free People Miranda Angular Pull On Wide Trousers","is_virtual":"0","description_short":"
                    <p>Printed chiffon knee length dress with tank straps. Deep v-neckline. Morbi vitae gravida mi, tristique commodo sem. Sed tristique orci ac pellentesque fringilla. Praesent vel feugiat arcu. In vulputate porttitor scelerisque.</p>","available_now":"In stock","available_later":"","id_category_default":"61","id_supplier":"1","id_manufacturer":"4","manufacturer_name":"Anchorsea","on_sale":"0","ecotax":"0.000000","additional_shipping_cost":"0.00","available_for_order":"1","show_price":"1","price":190,"active":"1","unity":"","unit_price_ratio":"0.000000","quantity_available":"996","width":"0.000000","height":"0.000000","depth":"0.000000","out_of_stock":"2","weight":0,"available_date":"0000-00-00","date_add":"2017-04-19 07:36:58","date_upd":"2017-06-17 17:53:13","quantity":1,"link_rewrite":"printed-chiffon-dress","category":"tops","unique_id":"000000001300000000993360","id_address_delivery":"336","advanced_stock_management":"0","supplier_reference":"","customization_quantity":null,"price_attribute":"0.000000","ecotax_attr":"0.000000","reference":"demo_13","weight_attribute":0,"ean13":"","isbn":"","upc":"","minimal_quantity":"1","wholesale_price":"6.150000","id_image":"13-112","legend":"","reduction_type":0,"is_gift":false,"reduction":0,"price_without_reduction":190,"specific_prices":false,"stock_quantity":996,"price_with_reduction":190,"price_with_reduction_without_tax":190,"total":190,"total_wt":190,"price_wt":190,"reduction_applies":false,"quantity_discount_applies":false,"allow_oosp":0,"features":[{"id_feature":"5","id_product":"13","id_feature_value":"1"},{"id_feature":"6","id_product":"13","id_feature_value":"13"},{"id_feature":"7","id_product":"13","id_feature_value":"20"}],"attributes":"Color : Grey","attributes_small":"Grey","rate":0,"tax_name":"","attr_str":"Color : Grey","amp_link":"https://alysum5.promokit.eu/en/mobile/product/13-printed-chiffon-dress"},{"id_product_attribute":"16","id_product":"4","cart_quantity":"1","id_shop":"1","id_customization":null,"name":"Poplin Pleat-Back Shirt Wind Jacket Free delivery","is_virtual":"0","description_short":"
                    <p>Fashion has been creating well-designed collections since 2010. The brand offers feminine designs delivering stylish separates and statement dresses which have since evolved into a full ready-to-wear collection in which every item is a vital part of a woman's wardrobe.</p>","available_now":"In stock","available_later":"","id_category_default":"63","id_supplier":"1","id_manufacturer":"3","manufacturer_name":"Woodsman","on_sale":"0","ecotax":"0.000000","additional_shipping_cost":"0.00","available_for_order":"1","show_price":"1","price":50.99,"active":"1","unity":"","unit_price_ratio":"0.000000","quantity_available":"283","width":"0.000000","height":"0.000000","depth":"0.000000","out_of_stock":"2","weight":0,"available_date":"0000-00-00","date_add":"2017-04-17 14:40:04","date_upd":"2019-03-24 10:38:31","quantity":1,"link_rewrite":"printed-dress","category":"t-shirt","unique_id":"000000000400000000163360","id_address_delivery":"336","advanced_stock_management":"0","supplier_reference":"","customization_quantity":null,"price_attribute":"0.000000","ecotax_attr":"0.000000","reference":"demo_4","weight_attribute":0,"ean13":"2835934862833","isbn":"","upc":"","minimal_quantity":"1","wholesale_price":"15.300000","id_image":"4-47","legend":"","reduction_type":0,"is_gift":false,"reduction":0,"price_without_reduction":50.99,"specific_prices":[],"stock_quantity":283,"price_with_reduction":50.99,"price_with_reduction_without_tax":50.99,"total":50.99,"total_wt":50.99,"price_wt":50.99,"reduction_applies":false,"quantity_discount_applies":false,"allow_oosp":0,"features":[{"id_feature":"5","id_product":"4","id_feature_value":"3"},{"id_feature":"6","id_product":"4","id_feature_value":"16"},{"id_feature":"7","id_product":"4","id_feature_value":"19"}],"attributes":"Size : S- Color : Beige","attributes_small":"S- Beige","rate":0,"tax_name":"","attr_str":"Size : S- Color : Beige","amp_link":"https://alysum5.promokit.eu/en/mobile/product/4-printed-dress"},{"id_product_attribute":"7","id_product":"2","cart_quantity":"1","id_shop":"1","id_customization":null,"name":"V-Neck Tee t-shirt with high neckline stretchy material","is_virtual":"0","description_short":"
                    <p>Short-sleeved blouse with feminine draped sleeve detail.</p>","available_now":"In stock","available_later":"","id_category_default":"65","id_supplier":"1","id_manufacturer":"1","manufacturer_name":"Mahogany","on_sale":"0","ecotax":"0.000000","additional_shipping_cost":"0.00","available_for_order":"1","show_price":"1","price":31.99,"active":"1","unity":"","unit_price_ratio":"0.000000","quantity_available":"274","width":"0.000000","height":"0.000000","depth":"0.000000","out_of_stock":"2","weight":0,"available_date":"0000-00-00","date_add":"2017-04-17 14:40:04","date_upd":"2019-03-22 14:26:44","quantity":1,"link_rewrite":"blouse","category":"blouses","unique_id":"000000000200000000073360","id_address_delivery":"336","advanced_stock_management":"0","supplier_reference":"","customization_quantity":null,"price_attribute":"5.000000","ecotax_attr":"0.000000","reference":"demo_2","weight_attribute":0,"ean13":"","isbn":"","upc":"","minimal_quantity":"1","wholesale_price":"8.100000","id_image":"2-41","legend":"","reduction_type":0,"is_gift":false,"reduction":0,"price_without_reduction":31.99,"specific_prices":[],"stock_quantity":274,"price_with_reduction":31.99,"price_with_reduction_without_tax":31.99,"total":31.99,"total_wt":31.99,"price_wt":31.99,"reduction_applies":false,"quantity_discount_applies":false,"allow_oosp":0,"features":[{"id_feature":"5","id_product":"2","id_feature_value":"5"},{"id_feature":"6","id_product":"2","id_feature_value":"11"},{"id_feature":"7","id_product":"2","id_feature_value":"17"}],"attributes":"Size : S- Color : Black","attributes_small":"S- Black","rate":0,"tax_name":"","attr_str":"Size : S- Color : Black","amp_link":"https://alysum5.promokit.eu/en/mobile/product/2-blouse"}],"info":[{"total":"u2013","tax":"u2013","shipping":"u2013","discount":"u2013","products":"u2013","products_count":0}],"price":false,"id_product_attribute":0,"error":[]}
                </script>
            </amp-state>

        </div>

        <div class="flex-container align-items-right">
            <a href="https://alysum5.promokit.eu/en/module/pk_amp/cart" class="button" role="button" tabindex="0">Cart</a>&nbsp;<a href="https://alysum5.promokit.eu/en/module/pk_amp/checkout" class="button" role="button" tabindex="0">Checkout</a>
        </div>

    </amp-sidebar>
    <amp-sidebar id="selector-menu" class="lang-select user-select relative" layout="nodisplay" side="left">

        <div class="close-section flex-container align-items-center m20">
            <h4 class="flex-grow1 text-uppercase">Menu</h4>
            <amp-img class="amp-close-image" src="/themes/alysum/assets/../templates/mobile/assets/svg/close.svg" width="20" height="20" alt="close selector-menu" on="tap:selector-menu.close" role="button" tabindex="0"></amp-img>
        </div>

        <amp-accordion animate class="section-wrap full-w">
            <section class="category parent" expanded>
                <h4><div class="flex-container align-items-center"><a class="roboto flex-grow1" href="https://alysum5.promokit.eu/en/mobile/category/59-women">Women</a><svg class="svgic smooth"><use xlink:href="#si-top-arrow-thin"></use></svg></div></h4>
                <div>
                    <amp-accordion animate class="section-wrap inner-accordion">
                        <section class="category parent">
                            <h4><div class="flex-container align-items-center"><a class="roboto flex-grow1" href="https://alysum5.promokit.eu/en/mobile/category/61-tops">Tops</a><svg class="svgic smooth"><use xlink:href="#si-top-arrow-thin"></use></svg></div></h4>
                            <div>
                                <amp-accordion animate class="section-wrap inner-accordion">
                                    <section class="category">
                                        <h4><div class="flex-container align-items-center"><a class="roboto flex-grow1" href="https://alysum5.promokit.eu/en/mobile/category/63-t-shirt">T-Shirt</a></div></h4>
                                        <div></div>
                                    </section>
                                    <section class="category">
                                        <h4><div class="flex-container align-items-center"><a class="roboto flex-grow1" href="https://alysum5.promokit.eu/en/mobile/category/64-tops">Tops</a></div></h4>
                                        <div></div>
                                    </section>
                                    <section class="category">
                                        <h4><div class="flex-container align-items-center"><a class="roboto flex-grow1" href="https://alysum5.promokit.eu/en/mobile/category/65-blouses">Blouses</a></div></h4>
                                        <div></div>
                                    </section>
                                    <section class="category">
                                        <h4><div class="flex-container align-items-center"><a class="roboto flex-grow1" href="https://alysum5.promokit.eu/en/mobile/category/71-shirts">Shirts</a></div></h4>
                                        <div></div>
                                    </section>
                                    <section class="category">
                                        <h4><div class="flex-container align-items-center"><a class="roboto flex-grow1" href="https://alysum5.promokit.eu/en/mobile/category/72-tank-tops">Tank Tops</a></div></h4>
                                        <div></div>
                                    </section>
                                </amp-accordion>
                            </div>
                        </section>
                        <section class="category parent">
                            <h4><div class="flex-container align-items-center"><a class="roboto flex-grow1" href="https://alysum5.promokit.eu/en/mobile/category/62-dresses">Dresses</a><svg class="svgic smooth"><use xlink:href="#si-top-arrow-thin"></use></svg></div></h4>
                            <div>
                                <amp-accordion animate class="section-wrap inner-accordion">
                                    <section class="category">
                                        <h4><div class="flex-container align-items-center"><a class="roboto flex-grow1" href="https://alysum5.promokit.eu/en/mobile/category/66-casual-dresses">Casual Dresses</a></div></h4>
                                        <div></div>
                                    </section>
                                    <section class="category">
                                        <h4><div class="flex-container align-items-center"><a class="roboto flex-grow1" href="https://alysum5.promokit.eu/en/mobile/category/67-evening-dresses">Evening Dresses</a></div></h4>
                                        <div></div>
                                    </section>
                                    <section class="category">
                                        <h4><div class="flex-container align-items-center"><a class="roboto flex-grow1" href="https://alysum5.promokit.eu/en/mobile/category/68-summer-dresses">Summer Dresses</a></div></h4>
                                        <div></div>
                                    </section>
                                    <section class="category">
                                        <h4><div class="flex-container align-items-center"><a class="roboto flex-grow1" href="https://alysum5.promokit.eu/en/mobile/category/73-club-dresses">Club Dresses</a></div></h4>
                                        <div></div>
                                    </section>
                                    <section class="category">
                                        <h4><div class="flex-container align-items-center"><a class="roboto flex-grow1" href="https://alysum5.promokit.eu/en/mobile/category/74-print-dresses">Print Dresses</a></div></h4>
                                        <div></div>
                                    </section>
                                </amp-accordion>
                            </div>
                        </section>
                        <section class="category parent">
                            <h4><div class="flex-container align-items-center"><a class="roboto flex-grow1" href="https://alysum5.promokit.eu/en/mobile/category/69-bags">Bags</a><svg class="svgic smooth"><use xlink:href="#si-top-arrow-thin"></use></svg></div></h4>
                            <div>
                                <amp-accordion animate class="section-wrap inner-accordion">
                                    <section class="category">
                                        <h4><div class="flex-container align-items-center"><a class="roboto flex-grow1" href="https://alysum5.promokit.eu/en/mobile/category/75-bagpacks">Bagpacks</a></div></h4>
                                        <div></div>
                                    </section>
                                    <section class="category">
                                        <h4><div class="flex-container align-items-center"><a class="roboto flex-grow1" href="https://alysum5.promokit.eu/en/mobile/category/76-laptop-bags">Laptop Bags</a></div></h4>
                                        <div></div>
                                    </section>
                                    <section class="category">
                                        <h4><div class="flex-container align-items-center"><a class="roboto flex-grow1" href="https://alysum5.promokit.eu/en/mobile/category/77-briefcases">Briefcases</a></div></h4>
                                        <div></div>
                                    </section>
                                    <section class="category">
                                        <h4><div class="flex-container align-items-center"><a class="roboto flex-grow1" href="https://alysum5.promokit.eu/en/mobile/category/78-rucksacks">Rucksacks</a></div></h4>
                                        <div></div>
                                    </section>
                                    <section class="category">
                                        <h4><div class="flex-container align-items-center"><a class="roboto flex-grow1" href="https://alysum5.promokit.eu/en/mobile/category/79-clutches">Clutches</a></div></h4>
                                        <div></div>
                                    </section>
                                </amp-accordion>
                            </div>
                        </section>
                        <section class="category parent">
                            <h4><div class="flex-container align-items-center"><a class="roboto flex-grow1" href="https://alysum5.promokit.eu/en/mobile/category/70-coats">Coats</a><svg class="svgic smooth"><use xlink:href="#si-top-arrow-thin"></use></svg></div></h4>
                            <div>
                                <amp-accordion animate class="section-wrap inner-accordion">
                                    <section class="category">
                                        <h4><div class="flex-container align-items-center"><a class="roboto flex-grow1" href="https://alysum5.promokit.eu/en/mobile/category/80-bodies">Bodies</a></div></h4>
                                        <div></div>
                                    </section>
                                    <section class="category">
                                        <h4><div class="flex-container align-items-center"><a class="roboto flex-grow1" href="https://alysum5.promokit.eu/en/mobile/category/81-camis">Camis</a></div></h4>
                                        <div></div>
                                    </section>
                                    <section class="category">
                                        <h4><div class="flex-container align-items-center"><a class="roboto flex-grow1" href="https://alysum5.promokit.eu/en/mobile/category/82-bralets">Bralets</a></div></h4>
                                        <div></div>
                                    </section>
                                    <section class="category">
                                        <h4><div class="flex-container align-items-center"><a class="roboto flex-grow1" href="https://alysum5.promokit.eu/en/mobile/category/83-bomber-jacket">Bomber Jacket</a></div></h4>
                                        <div></div>
                                    </section>
                                    <section class="category">
                                        <h4><div class="flex-container align-items-center"><a class="roboto flex-grow1" href="https://alysum5.promokit.eu/en/mobile/category/84-biker-jackets">Biker Jackets</a></div></h4>
                                        <div></div>
                                    </section>
                                </amp-accordion>
                            </div>
                        </section>
                    </amp-accordion>
                </div>
            </section>
        </amp-accordion>

    </amp-sidebar>

    <amp-sidebar id="selector-search" class="lang-select user-select relative" layout="nodisplay" side="right">

        <div class="close-section flex-container align-items-center m20">
            <h4 class="flex-grow1 text-uppercase">Search</h4>
            <amp-img class="amp-close-image" src="/themes/alysum/assets/../templates/mobile/assets/svg/close.svg" width="20" height="20" alt="close selector-search" on="tap:selector-search.close" role="button" tabindex="0"></amp-img>
        </div>
        <div class="search-bar">

            <input name="searchstring" type="text" on="

      input-debounced:
        AMP.setState({
         query: event.value,
         showDropdown: event.value,
        }),
        autosuggest-list.show,
        search-page.show;
      Tap:
        AMP.setState({
          query: query == null ? '' : query,
          showDropdown: 'true',
        }),
        autosuggest-list.show,
        search-page.show;
      " [value]="query || ''" value="" autocomplete="off" placeholder="Search" />

            <div class="suggest m15">

                <div id="search-loading" hidden>
                    <svg class="svgic">
                        <use xlink:href="#si-cross"></use>
                    </svg>
                </div>

                <div class="autosuggest-container hidden" [class]="(showDropdown && query) ? 'autosuggest-container' : 'autosuggest-container hidden'">

                    <amp-list id="autosuggest-list" class="mini-products" layout="fixed-height" height="500" items="emptyAndInitialTemplateJson.results" [src]="query ? autosuggest.endpoint + query : autosuggest.emptyAndInitialTemplateJson">

                        <template type="amp-mustache">
                            <amp-selector id="autosuggest-selector" keyboard-select-mode="focus" layout="container">

                                <div class="select-option no-outline flex-container product-list-item" role="option" tabindex="0" on="tap:AMP.navigateTo(url='{{link}}')" option="{{name}}">

                                    <amp-img alt="{{name}}" src="{{image}}" width="80" height="104" layout="responsive"></amp-img>

                                    <div class="product-info">
                                        <div class="product-title">{{name}}</div>
                                        <span class="price">{{price}}</span>
                                    </div>

                                </div>

                            </amp-selector>
                        </template>

                        <div placeholder>
                            <div class="flex-container align-items-center" [hidden]="showDropdown">
                                <amp-bodymovin-animation layout="flex-item" width="100" height="100" src="https://alysum5.promokit.eu/themes/alysum/templates/mobile/assets/json/infinite.json" loop="true"></amp-bodymovin-animation>
                            </div>
                        </div>

                    </amp-list>

                </div>
            </div>

            <a id="search-page" hidden class="button" role="button" href="https://alysum5.promokit.eu/en/module/pk_amp/search?searchstr=" [href]="searchPage.searchPageURL + query">Search result page</a>

        </div>

        <amp-state id="autosuggest" [src]="'https://alysum5.promokit.eu/en/module/pk_amp/ajaxSearch'">
            <script type="application/json">
                { "endpoint": "", "emptyAndInitialTemplateJson": [{ "query": "", "results": [] }] }
            </script>
        </amp-state>

        <amp-state id="searchPage">
            <script type="application/json">
                { "searchPageURL": "https://alysum5.promokit.eu/en/module/pk_amp/search?searchstr=" }
            </script>
        </amp-state>

    </amp-sidebar>

    <amp-sidebar id="selector-tos" class="lang-select user-select relative" layout="nodisplay" side="right">

        <div class="close-section flex-container align-items-center m20">
            <h4 class="flex-grow1 text-uppercase">Our Terms</h4>
            <amp-img class="amp-close-image" src="/themes/alysum/assets/../templates/mobile/assets/svg/close.svg" width="20" height="20" alt="close selector-tos" on="tap:selector-tos.close" role="button" tabindex="0"></amp-img>
        </div>
        <div>
            <h1 class="page-heading">Terms and conditions of use</h1>
            <h3 class="page-subheading">Rule 1</h3>
            <p class="bottom-indent">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <h3 class="page-subheading">Rule 2</h3>
            <p class="bottom-indent">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam&#1102;</p>
            <h3 class="page-subheading">Rule 3</h3>
            <p class="bottom-indent">Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam&#1102;</p>
        </div>
        <div class="flex-container align-items-center m20">
            <button on="tap:selector-tos.close" role="button" tabindex="0">I Agree</button>
        </div>

    </amp-sidebar>

</body>

</html>